
<table>
  <tr>
    <th>{{ 'Content 1 location'|t }}</th>
    <th>{{ 'Content 1 name'|t }}</th>
    <th>{{ 'Content 2 location'|t }}</th>
    <th>{{ 'Content 2 name'|t }}</th>
  </tr>
  {% set i = 0 %}
  {% for node in nodes_of_content_type_1 %}
    <tr>
      <td>{{ node.get(geolocation_field_name_1)[0].value }}</td>
      <td>{{ node.getTitle() }}</td>
      <td>{{ nodes_of_content_type_2[i].get(geolocation_field_name_2)[0].value }}</td>
      <td>{{ nodes_of_content_type_2[i].getTitle() }}</td>
    </tr>
    {% set i = i + 1 %}
  {% endfor %}
</table>